

body{
    background-color: navy;
    font-size: 1.0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

.container{
    background-color: rgb(55, 55, 211, 0.8);
    box-shadow: 2px 3px 3px rgb(197, 104, 104, 0.6);
    margin: 40px auto;
    border-radius: 10px;
    padding: 30px;
    max-width: 600px

}

.feedback, p{
    text-align: center;
    font-size: 1.2em;
}
.details, #radio, .checkbox-option, .select, .textarea, .submit{
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    position: relative;
}
legend{
    font-size: 1.1em;
    font-weight: 300;
}
.details input:invalid, .textarea:invalid, #options{
    border-color: red;
}
.details input:valid, .textarea:valid{
    border-color: green;
}
.details input:placeholder-shown:invalid, .textarea:placeholder-shown:invalid{
    border-color:black;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;
    min-width: 0px;
    width: 100%

    
}
.textarea{
    width: 90%;
    height: 100px;
    resize: vertical;

}
.submit{
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    width: 60%
}
.button .submit:hover{
    background-color: grey;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#options{
    width: 50%
}
input[type="checkbox"]{
    opacity: 0;
    height: 0;
    width: 0;
    position:absolute;
}
.one{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #7fff0f;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input[type="checkbox"]:checked + .one{
    background-color: #5e50f1;
    border-color: #5e50f1;
}
input[type="checkbox"]:checked + .one::after{
    content: "";
    display: block;
    width: 6px;
    height: 10px;
    border-right: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
    transform: rotate(45deg);
}
input[type="checkbox"]:focus + .one{
    outline: 2px solid rgb(7, 7, 71);
    outline-offset: 2px;
}
/*input button designs*/
input[type="radio"]{
    opacity: 0;
    height: 0;
    width: 0;
    position:absolute;
}
.two{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #7fff0f;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input[type="radio"]:checked + .two{
    background-color: #5e50f1;
    border-color: #5e50f1;
}
input[type="radio"]:checked + .two::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #5e50f1;
}

input[type="radio"]:focus + .two{
    outline: 2px solid rgb(7, 7, 71);
    outline-offset: 2px;
}
.wrap + input[type="radio"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
    